# filepath: d:\Descargas\Programacion\Buscador 2.0\buscador-2.0\.gitignore
# Dependencias
node_modules

# Archivos de build
# dist
# dist-ssr

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de entorno
.env
.env.local
.env.*.local

# Metadatos del editor
.vscode
.idea